body,
html {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  color: $baseFontColor;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

.container {
  max-width: $containerWidth;
  margin: auto;
  @include media-breakpoint-down(md) {
    margin: 0 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .hidden-mobile {
    display: none
  }
}

.columns {
  display: flex;
  margin: 0 -10px;
  @include media-breakpoint-down(xs) {
    display: block;
    &__noBlock {
      display: flex;
    }
  }
}

.column {
  margin: 0 10px;
  flex-grow: 1;
  &.is-half {
    flex-basis: 50%;
  }
}

.section {
  &__dark {
    background-image: url('../images/bg.png');
    padding-bottom: 50px;
  }
}
