$baseFontSize: 16px;
$baseFontFamily: Helvetica, Arial, sans-serif;

$containerWidth: 940px;

// Breakpoints
$desktop: 1100px;
$mobile: 500px;

// Colours
$headerGreen: #97F6C9;
$shadowColor: #DADADA;