$baseFontSize: 16px;
$baseFontFamily: Helvetica, Arial, sans-serif;
$baseFontColor: #3f3f3f;
$lightFontColor: #898989;

$containerWidth: 940px;

// Breakpoints
$desktop: 1100px;
$mobile: 500px;

// Colours
$headerGreen: #97F6C9;
$shadowColor: #DADADA;

// For bootstrap breakpoints
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);