.carousel {
  background-color: white;
  height: 384px;
  overflow: none;  
  overflow: hidden;
  position: relative;
  &__item {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 374px;
    width: calc(100% - 10px);
    transition: 0.75s opacity ease-in-out;
    opacity: 0;
    &.active {
      opacity: 1;
      z-index: 1;
    }  
  }
  &__controls {
    z-index: 2;
    margin-bottom: 35px;
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    .prev, .next {
      cursor: pointer;
      margin: 0 0.5rem;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: 6px 5px;
      background-image: url('../images/arrow_prev.png');
    }
    .next {
      background-position: 7px 5px;
      transform: scaleX(-1);
    }
  }
  &__control {
    
  }
}

.map {
  width: 100%;
  height: 374px;
  max-height: 500px;
}


